main, h1{ padding: 1em;}

html{
  background-color: lightgray;
}

img{
  height: 10rem;
  width: auto;
}

main p{
  background-color: gainsboro;
  color: orangered;
  text-align: left;
  
}

main li{
  border: thin solid black;
  padding: 1em;
  background-color: gainsboro;
}

footer{
  border: thin solid black;
  bottom: 10px;
}

header, h1{
  color: orangered;
}
  
ul, li{
  list-style-type: none;
  
}

img{
  border-radius: 10px;
  box-shadow: 10px 5px 5px grey;
 
}

nav ul li{
  box-shadow: 10px 5px 5px grey;
} 

footer {
  position: absolute; bottom: 0; left: 0; right: 0
}

footer, p{
  color: orangered;
}
